*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.hero{
    background-image: url(/images/background.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* background: #000; */
}
.logo{
    cursor: pointer;
    width: 100px;
}
button{
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    border-radius: 20px;
    color: #fbfcfd;
    padding: 10px 15px;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.side-bar{
    width: 50px;
    height: 100vh;
    top: 0;
    right: 0;
    background: linear-gradient(#00545d, #000729);
    position: absolute;
}
.menu{
    display: block;
    width: 25px;
    cursor: pointer;
    margin: 40px auto 0;
 }
.social-links img, .useful-links img{
    width: 30px;
    margin: 5px auto;
    cursor: pointer;
}
.social-links{
    width: 50px;
    position:absolute;
    text-align:center;
    top: 50%;
    transform: translateY(-50%)
}
.useful-links{
    width: 50px;
    position: absolute;
    text-align: center;
    top: 100%;
    transform: translateY(-100%);
    /*or we can do bottom: 30px;*/
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite reverse;
}
.bubbles{
    bottom: 0;
    position: absolute;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 100%;
    bottom:-70px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 1;
    }
}
.bubbles img:last-child{
    animation-delay: 2s;
    width: 15px;
}
.bubbles img:nth-child(1){
    animation-delay: 1s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 2s;
    width: 15px;
}
.bubbles img:nth-child(3){
    animation-delay: 3.5s;
    width: 35px;
}
.bubbles img:nth-child(4){
    animation-delay: 2s;
    width: 30px;
}
.bubbles img:nth-child(5){
    animation-delay: 2.5s;
    width: 45px;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 55px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 40px;
}
.bubbles2 img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles2{
    bottom: 0;
    position: absolute;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 100%;
    bottom:-70px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 1;
    }
}
.bubbles2 img:last-child{
    animation-delay: 2.5s;
    width: 25px;
}
.bubbles2 img:nth-child(1){
    animation-delay: 3s;
    width: 55px;
}
.bubbles2 img:nth-child(2){
    animation-delay: 2.5s;
    width: 25px;
}
.bubbles2 img:nth-child(3){
    animation-delay: 4s;
    width: 10px;
}
.bubbles2 img:nth-child(4){
    animation-delay: 3.5s;
    width: 20px;
}
.bubbles2 img:nth-child(5){
    animation-delay: 2.5s;
    width: 40px;
}
.bubbles2 img:nth-child(6){
    animation-delay: 3s;
    width: 55px;
}
